<h1>employee Details</h1>
<button type="button" name="button" (click)="getInfoFromServiceClass1()">
Employee1
</button>
<ul class="list-group">
    <li *ngFor = 'let info of infoRecieved1' class='list-group-item'>
{{info}}
 </li>
</ul>
<pre></pre>
<button type="button" name="button" (click)="getInfoFromServiceClass2()">
Employee2
</button>
<ul class="list-group">
    <li *ngFor = 'let info of infoRecieved2' class='list-group-item'>
{{info}}
    </li>
</ul>
<pre></pre>
<button type="button" name="button" (click)="getInfoFromServiceClass3()">
Employee3
</button>
<ul class="list-group">
    <li *ngFor = 'let info of infoRecieved3' class='list-group-item'>
     {{info}}   
    </li>
</ul>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quidem nulla minus ab veritatis cum, pariatur saepe molestiae quo itaque? Rerum nihil tempore quasi vitae vero fugiat aperiam, necessitatibus dolores.
</p>

